/*
------------
RESET
------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/*
------------
DEBUG
------------
*/

/*
.debug .first-header div {
    background-color: #daa520;
    margin: 18px 0;
    border: 2px dashed black;
}
*/

/*.debug .header-box {
    background-color: #ee82ee;
    height: 415px;
    border: 2px dashed black;
}*/
/*
.debug footer {}

.debug .aside {
    background-color: #f08080;
    height: 600px;
    border: 2px dashed black;
}

.debug .colonna {
    background-color: #20b2aa;
    height: 600px;
    border: 2px dashed white;
}

.debug .second-footer {
    background-color: #7fffd4;
}

.debug .second-footer div {
    background-color: #ffb6c1;
    border: 2px dashed black;
    padding: 5px;
}

/*
------------
COMMON
------------
*/

.flex {
    display: flex;
}

.button {
    padding: 10px 15px;
    background-color: white;
    border-radius: 18px;
    color: black;
    display: inline-block;
}

h1,
h2,
p {
    line-height: 30px;
}

h1,
h2 {
    font-size: 35px
}

.container {
    margin: 0 auto;
}

.container.big {
    max-width: 1250px;
}

.row,
.row-big {
    display: flex;
}

/*
------------
HEADER
------------
*/

header {
    color: white;
    background-color: #255ee9;
}

.first-header {
    justify-content: center;
}

.first-header>div {
    padding: 10px;
    display: flex;
}

.logo,
.login {
    width: 250px;
}

.link {
    width: 745px;
    justify-content: center;
}

.first-header .link>a {
    padding-right: 40px;
    padding-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.login {
    justify-content: flex-end;
    font-size: 11px;
}

.header-box {
    width: 945px;
    margin: 0 auto;
    text-align: center;
}

.second-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 120px 0;
    margin-bottom: 50px;
}

h1 {
    padding-bottom: 50px;
}

header p {
    text-align: center;
    margin-bottom: 20px;
}

.header-box :last-child {
    background-color: #23272a;
    color: white;
}

/*
------------
MAIN
------------
*/

section {
    padding: 50px;
}

.col-big {
    max-width: 65%;
}

section .col-small {
    flex-grow: 1;
}


h2 {
    padding: 40px 0;
}

h3 {
    margin: 60px 0;
    font-size: 22px;
}

.row-big .col-full {
    text-align: center;
}

section:nth-child(even) {
    background-color: #d3d3d3;
}

.button.blu {
    background-color: #7289da;
    color: white;
}


/*
------------
FOOTER
------------
*/

footer {
    color: white;
    background-color: #23272a;
}

.first-footer .col-small {
    width: 30%;
}

.first-footer .col-big {
    display: flex;
    width: 70%;
}

.col-big .col {
    flex-grow: 1;
}

footer h2,
footer h4 {
    color: #5a6fb2;
    padding-top: 80px;
}

.flag {
    width: 25px;
}

i {
    padding: 20px 10px;
}

.first-footer div {
    margin: 20px 0;
}

.second-footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}